*.log
*.tgz
.astro
.cache
.DS_Store
.eslint-config-inspector
.eslintcache
.idea
.temp
cache
coverage
dist
lib-cov
logs
node_modules
temp

# Keep dist folders in fixtures
!packages/astro-capo/fixtures/**/dist
